bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.DicasCSharp/.idea/.gitignore
/.idea/.idea.DicasCSharp/.idea/aws.xml
/.idea/.idea.DicasCSharp/.idea/encodings.xml
/.idea/.idea.DicasCSharp/.idea/indexLayout.xml
/.idea/.idea.DicasCSharp/.idea/vcs.xml
